@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.note_date {
    font-size: 20px;
}

ul {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.noteDiv {
    display: inline-table;

    margin: 0.4em;

    padding: 0.4em;

    width: 300px;

    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f1f1;
    
    text-decoration: none;
}

.noteDiv p {
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    word-break: break-all;
}
.noteDiv button:hover {
    color: red;
}

.noteDiv p:hover {
    color: black;
    background: none;
}

.noteDiv .time {
    font-size: 15px;
    font-weight: 300;
}

.noteDiv:hover {
    transition: ease-out 300ms;
    background-color: #EAF4ED;
    cursor: pointer;
}

.greettext span {
    font-weight: 300;
}

/* (A) LIST STYLES */
.slist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .slist li {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    background: #eaeaea;
  }
  
  /* (B) DRAG-AND-DROP HINT */
  .slist li.hint { background: #fea; }
  .slist li.active { background: #ffd4d4; }